body {
    background-color: pink;
  }
  
  /* Estilo para las etiquetas de tipo h1 */
  h1 {
    color:black;
  }

  /* Estilo div*/
  
  
  /* Estilo para los párrafos */
  p {
    color: black;
  }

 /* Estilo para los párrafos con clase*/
  .caja1{
    width: 30%;
    border: black 5px;
    }




}
